@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: sans-serif;
  text-align: center;
}

h1,
p {
  font-family: "Russo One", sans-serif;
}

span {
  color: red;
}

.launch-item {
  width: 60%;
  height: 100%;
  margin: 60px auto;
  border: 4px solid grey;
  border-radius: 10px;
  background: #141d26;
}

.launch-item p {
  margin: auto;
  padding: 30px;
  font-size: 1.3rem;
  color: white;
}

.launch-item h1 {
  font-size: 3rem;
  margin: auto;
  padding: 30px;
  color: red;
}

.launch-item img {
  padding: 30px;
}

@media (max-width: 760px) {
  .launch-item {
    width: 80%;
  }
  .launch-item h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 400px) {
  .launch-item {
    width: 90%;
  }
}